.container-fluid {

    .parallax {
        height: 30vw;
        background-image: url(../images/739905.png);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: $w;
        display: flex;
        align-items: center;

        .row {
            width: 100%;
        }
    }
} 

.container-fluid {

    .parallax2 {
        height: 40vw;
        background-image: url(../images/pexels-photo-91229.jpeg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;background-attachment: fixed;
        color: $w;
        display: flex;
        align-items: center;

        .row {

            .col-5 {

                h2 {
                    color: $b;
                    padding-bottom: 5vh;
                }

                p {
                    color: $b;
                    font-size: 1.3vw;
                }
            
                .row {

                    .col-6 {

                        .btn1 {
                            float: left;
                            background-color: transparent !important;
                            color: $b !important;
                        }

                        .btn2 {
                            float: right;
                            background-color: transparent !important;
                            color: $b !important;
                        }
                    }
                }
            }
        }
    }
}